body {
    background-color: #2D2640;
  }
  .header{
    margin: auto;
    text-align: center;
    font-weight: bold;
    color: white;
    margin: 0 auto;
  }
  #header > p{
    font-weight: 300;
    font-size: 16px;
  }
  .header-img{
    width: 45%;
    height: auto;
    margin-left: 30%;
    margin-right: 30%;
    font-family: "Times New Roman", Times, serif;
  }
  .container{
  margin: 0 auto;
    text-align: left;
    font-size: 16px;
    width: 900px;
    color: white;
    

  }
  footer{
    margin: 0 auto;
    width: 500px;
    color: white;
    padding-top: 125px;
  }